workflow/apify-agent-collector-conversational.json
{"updatedAt":"2026-02-23T09:36:26.806Z","createdAt":"2026-02-23T08:16:21.928Z","id":"1YshXOGo1cZoCweK","name":"Apify Agent Collector (Conversational)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"apify-agent-collector","responseMode":"responseNode","options":{}},"id":"webhook-in","name":"Webhook In","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,128],"webhookId":"57f1249a-71db-4887-bb88-30ce53e27511"},{"parameters":{"jsCode":"const b = $json.body ?? $json;\n\nfunction toBool(v) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v === 'string') return ['1','true','yes','y','on','да'].includes(v.toLowerCase().trim());\n  return undefined;\n}\n\nfunction parseUsername(v) {\n  if (!v) return '';\n  const s = String(v).trim();\n  if (!s) return '';\n  if (!s.includes('twitter.com') && !s.includes('x.com')) return s.replace('@', '').trim();\n  const m = s.match(/(?:x|twitter)\\.com\\/([A-Za-z0-9_]+)/i);\n  return m ? m[1] : '';\n}\n\nconst state = {\n  targetLink: b.targetLink ?? b.link ?? b.url ?? '',\n  username: parseUsername(b.targetLink ?? b.link ?? b.url ?? b.username),\n  collectType: (b.collectType || '').toString().toLowerCase(),\n  limitMode: (b.limitMode || '').toString().toLowerCase(),\n  limit: Number.parseInt(b.limit ?? b.count ?? 0, 10),\n  includeEmails: toBool(b.includeEmails),\n  outputTarget: (b.outputTarget || 'json').toString().toLowerCase(),\n  googleSheetsWebhookUrl: b.googleSheetsWebhookUrl || '',\n  apifyToken: b.apifyToken || '',\n  followerActorId: 'bIYXeMcKISYGnHhBG',\n  emailActorId: 'mSaHt2tt3Z7Fcwf0o'\n};\n\nconst ask = (field, question, options = []) => [{\n  json: {\n    readyToRun: false,\n    stage: field,\n    question,\n    options,\n    hint: 'Передай ответ в следующем POST-запросе в body.'\n  }\n}];\n\nif (!state.username) {\n  return ask('targetLink', 'Кинь ссылку на X/Twitter аккаунт или @username.', ['https://x.com/username', '@username']);\n}\n\nif (!['followers','following','both'].includes(state.collectType)) {\n  return ask('collectType', 'Кого собираем?', ['followers','following','both']);\n}\n\nif (!['all','number'].includes(state.limitMode)) {\n  return ask('limitMode', 'Сколько собрать: all (максимум) или number (точное число)?', ['all','number']);\n}\n\nif (state.limitMode === 'number') {\n  if (!Number.isFinite(state.limit) || state.limit < 1) {\n    return ask('limit', 'Укажи точное число (например 300).', ['100','300','1000']);\n  }\n}\n\nif (typeof state.includeEmails !== 'boolean') {\n  return ask('includeEmails', 'Искать email по найденным аккаунтам?', ['true','false']);\n}\n\nconst limit = state.limitMode === 'all' ? 5000000 : Math.min(5000000, state.limit);\nconst getFollowers = state.collectType === 'followers' || state.collectType === 'both';\nconst getFollowing = state.collectType === 'following' || state.collectType === 'both';\n\nreturn [{\n  json: {\n    readyToRun: true,\n    targetUsername: state.username,\n    targetLink: state.targetLink,\n    collectType: state.collectType,\n    limitMode: state.limitMode,\n    limit,\n    includeEmails: state.includeEmails,\n    outputTarget: state.outputTarget,\n    googleSheetsWebhookUrl: state.googleSheetsWebhookUrl,\n    apifyToken: state.apifyToken,\n    followerActorId: state.followerActorId,\n    emailActorId: state.emailActorId,\n    followerInput: {\n      userNameList: [state.username],\n      userIdList: [],\n      maxFollowers: getFollowers ? limit : 1,\n      maxFollowing: getFollowing ? limit : 1,\n      getFollowers,\n      getFollowing,\n      outputMode: 'usernames'\n    }\n  }\n}];"},"id":"conversation-agent","name":"Conversation Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,128]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.readyToRun}}","operation":"isTrue"}]},"options":{}},"id":"is-ready","name":"Ready To Run?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-720,128]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"respond-question","name":"Respond Question","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-496,288]},{"parameters":{"operation":"Run actor and get dataset","actorSource":"store","actorId":{"__rl":true,"value":"bIYXeMcKISYGnHhBG","mode":"id"},"customBody":"={{ JSON.stringify($json.followerInput, null, 2) }}"},"id":"run-follower","name":"Run Follower Actor","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-496,48],"credentials":{"apifyApi":{"id":"g5lSW3fwgQoO7Kpv","name":"Apify account"}}},{"parameters":{"jsCode":"const cfg = $('Conversation Agent').first().json;\nconst items = $input.all();\nconst raw = [];\nfor (const it of items) {\n  const d = it.json;\n  if (Array.isArray(d)) raw.push(...d);\n  else if (Array.isArray(d.body)) raw.push(...d.body);\n  else if (Array.isArray(d.data)) raw.push(...d.data);\n  else raw.push(d);\n}\nconst seen = new Set();\nconst records = [];\nfor (const r of raw) {\n  const username = (r.username || r.screenname || r.userName || r.handle || r.value || '').toString().replace('@', '').trim();\n  if (!username) continue;\n  const key = username.toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n  records.push({\n    targetUsername: cfg.targetUsername,\n    username,\n    sourceType: cfg.collectType,\n    collectedAt: new Date().toISOString()\n  });\n}\nreturn [{\n  json: {\n    ...cfg,\n    records: records.slice(0, cfg.limit),\n    recordsCount: records.length\n  }\n}];"},"id":"normalize-followers","name":"Normalize Followers","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,48]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.includeEmails}}","operation":"isTrue"}]},"options":{}},"id":"need-email","name":"Need Email Search?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-64,48]},{"parameters":{"jsCode":"const j = $json;\nconst usernames = (j.records || []).map((r) => r.username).filter(Boolean);\nreturn [{\n  json: {\n    ...j,\n    emailInput: {\n      usernames: usernames.join('\\n'),\n      max_results: j.limit\n    }\n  }\n}];"},"id":"build-email-input","name":"Build Email Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-64]},{"parameters":{"operation":"Run actor and get dataset","actorSource":"store","actorId":{"__rl":true,"value":"mSaHt2tt3Z7Fcwf0o","mode":"id"},"customBody":"={{ JSON.stringify($json.emailInput, null, 2) }}"},"id":"run-email","name":"Run Email Actor","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[384,-64],"credentials":{"apifyApi":{"id":"g5lSW3fwgQoO7Kpv","name":"Apify account"}}},{"parameters":{"jsCode":"const base = $('Normalize Followers').first().json;\nconst emailRowsRaw = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  if (Array.isArray(d)) emailRowsRaw.push(...d);\n  else if (Array.isArray(d.body)) emailRowsRaw.push(...d.body);\n  else if (Array.isArray(d.data)) emailRowsRaw.push(...d.data);\n  else emailRowsRaw.push(d);\n}\nconst byUsername = new Map();\nfor (const row of emailRowsRaw) {\n  const key = (row.screenname || row.username || '').toString().toLowerCase().replace('@', '').trim();\n  if (!key) continue;\n  byUsername.set(key, { email: row.email || '', name: row.name || '' });\n}\nconst rows = (base.records || []).map((r) => {\n  const m = byUsername.get(r.username.toLowerCase()) || { email: '', name: '' };\n  return { ...r, name: m.name, email: m.email };\n});\nreturn [{ json: { ...base, rows, foundEmailCount: rows.filter((r) => !!r.email).length } }];"},"id":"merge-email","name":"Merge Email Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-64]},{"parameters":{"jsCode":"const j = $json;\nconst rows = (j.records || []).map((r) => ({ ...r, name: '', email: '' }));\nreturn [{ json: { ...j, rows, foundEmailCount: 0 } }];"},"id":"skip-email","name":"Skip Email Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,144]},{"parameters":{"jsCode":"const j = $json;\nconst rows = j.rows || [];\nconst headers = ['targetUsername','username','name','email','sourceType','collectedAt'];\nconst q = String.fromCharCode(34);\nconst csvEsc = (v) => {\n  const s = (v ?? '').toString();\n  if (s.includes(',') || s.includes(q) || s.includes('\\n')) return q + s.replaceAll(q, q + q) + q;\n  return s;\n};\nconst lines = [headers.join(',')];\nfor (const r of rows) lines.push(headers.map((h) => csvEsc(r[h])).join(','));\nreturn [{ json: { ok: true, mode: 'run_complete', targetUsername: j.targetUsername, collectType: j.collectType, limitMode: j.limitMode, includeEmails: j.includeEmails, totalCollected: rows.length, emailsFound: j.foundEmailCount || 0, outputTarget: j.outputTarget, googleSheetsPushed: false, csv: lines.join('\\n'), rows } }];"},"id":"final-no-sheets","name":"Build Final Response (No Sheets)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,144]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"respond-final","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,48]},{"parameters":{"content":"## Quick Guide\n\n### Required Setup\n- Create **Apify credentials** in n8n (`Apify account`) and attach to Apify nodes.\n- This workflow uses hardcoded actors:\n  - Followers: `bIYXeMcKISYGnHhBG`\n  - Email: `mSaHt2tt3Z7Fcwf0o`\n\n### Actor Links\n- Followers Actor: https://console.apify.com/actors/bIYXeMcKISYGnHhBG\n- Email Actor: https://console.apify.com/actors/mSaHt2tt3Z7Fcwf0o/source\n\n### Input Flow\n1. Send POST to webhook with `targetLink` (or username).\n2. Agent asks for missing fields: `collectType`, `limitMode`, `limit`, `includeEmails`.\n3. Username is extracted from X/Twitter link automatically.\n\n### Email Step (Optional)\n- `includeEmails=true` -> runs Email Actor\n- `includeEmails=false` -> skips email step\n\n### Output\n- Returns JSON summary + `rows` + `csv`.\n\n### Optional Integrations\n- **Google Sheets**: append `rows` to a sheet for non-technical users.\n- **Telegram**: add a Telegram node after final response to send run summary and file link.\n\nTip: Start with `includeEmails=false` for faster and cheaper runs.","height":732,"width":760,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1808,-832],"id":"d2fde973-a886-4432-854d-8af16cc8b8f0","name":"Workflow Note"},{"parameters":{"content":"## Request Example\n\n### POST Body\n```json\n{\n  \"targetLink\": \"https://x.com/elonmusk\",\n  \"collectType\": \"followers\",\n  \"limitMode\": \"number\",\n  \"limit\": 1000,\n  \"includeEmails\": false,\n  \"outputTarget\": \"json\"\n}\n```\n\n### Field Guide\n- `targetLink`: X/Twitter profile URL or `@username`\n- `collectType`: `followers` | `following` | `both`\n- `limitMode`: `number` (exact amount) or `all` (max actor range)\n- `limit`: required when `limitMode=\"number\"`\n- `includeEmails`: `true` to run email enrichment, `false` to skip\n- `outputTarget`: `json` (recommended default)\n\n### cURL Example\n```bash\ncurl -X POST 'https://YOUR_DOMAIN/webhook/apify-agent-collector' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"targetLink\":\"https://x.com/elonmusk\",\"collectType\":\"followers\",\"limitMode\":\"number\",\"limit\":1000,\"includeEmails\":false,\"outputTarget\":\"json\"}'\n```\n","height":760,"width":780,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,-832],"id":"f58c19bc-3174-4814-84b4-0b23992afa61","name":"Request Example Note"}],"connections":{"Webhook In":{"main":[[{"node":"Conversation Agent","type":"main","index":0}]]},"Conversation Agent":{"main":[[{"node":"Ready To Run?","type":"main","index":0}]]},"Ready To Run?":{"main":[[{"node":"Run Follower Actor","type":"main","index":0}],[{"node":"Respond Question","type":"main","index":0}]]},"Run Follower Actor":{"main":[[{"node":"Normalize Followers","type":"main","index":0}]]},"Normalize Followers":{"main":[[{"node":"Need Email Search?","type":"main","index":0}]]},"Need Email Search?":{"main":[[{"node":"Build Email Input","type":"main","index":0}],[{"node":"Skip Email Merge","type":"main","index":0}]]},"Build Email Input":{"main":[[{"node":"Run Email Actor","type":"main","index":0}]]},"Run Email Actor":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Build Final Response (No Sheets)","type":"main","index":0}]]},"Skip Email Merge":{"main":[[{"node":"Build Final Response (No Sheets)","type":"main","index":0}]]},"Build Final Response (No Sheets)":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"19f91ecc-4638-4fd0-9b28-ef4c73c4dfd4","activeVersionId":"19f91ecc-4638-4fd0-9b28-ef4c73c4dfd4","versionCounter":52,"triggerCount":1,"shared":[{"updatedAt":"2026-02-23T08:16:21.936Z","createdAt":"2026-02-23T08:16:21.936Z","role":"workflow:owner","workflowId":"1YshXOGo1cZoCweK","projectId":"wVbhB7Fe81cSizIj","project":{"updatedAt":"2025-04-11T19:08:07.056Z","createdAt":"2025-04-01T10:57:08.574Z","id":"wVbhB7Fe81cSizIj","name":"Admin Admin <hunroad09@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"38ed1950-1679-4f53-9ddb-a20c90973227","projectRelations":[{"updatedAt":"2025-04-01T10:57:08.575Z","createdAt":"2025-04-01T10:57:08.575Z","userId":"38ed1950-1679-4f53-9ddb-a20c90973227","projectId":"wVbhB7Fe81cSizIj","user":{"updatedAt":"2026-02-23T08:02:20.000Z","createdAt":"2025-04-01T10:57:06.482Z","id":"38ed1950-1679-4f53-9ddb-a20c90973227","email":"hunroad09@gmail.com","firstName":"Admin","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-01T11:03:56.788Z","personalization_survey_n8n_version":"1.85.4","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"wAQq3Ju0wGZfEqRo","userActivatedAt":1743585602886,"npsSurvey":{"responded":true,"lastShownAt":1767598613436}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-23","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-23T09:36:26.807Z","createdAt":"2026-02-23T09:36:26.807Z","versionId":"19f91ecc-4638-4fd0-9b28-ef4c73c4dfd4","workflowId":"1YshXOGo1cZoCweK","nodes":[{"parameters":{"httpMethod":"POST","path":"apify-agent-collector","responseMode":"responseNode","options":{}},"id":"webhook-in","name":"Webhook In","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,128],"webhookId":"57f1249a-71db-4887-bb88-30ce53e27511"},{"parameters":{"jsCode":"const b = $json.body ?? $json;\n\nfunction toBool(v) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v === 'string') return ['1','true','yes','y','on','да'].includes(v.toLowerCase().trim());\n  return undefined;\n}\n\nfunction parseUsername(v) {\n  if (!v) return '';\n  const s = String(v).trim();\n  if (!s) return '';\n  if (!s.includes('twitter.com') && !s.includes('x.com')) return s.replace('@', '').trim();\n  const m = s.match(/(?:x|twitter)\\.com\\/([A-Za-z0-9_]+)/i);\n  return m ? m[1] : '';\n}\n\nconst state = {\n  targetLink: b.targetLink ?? b.link ?? b.url ?? '',\n  username: parseUsername(b.targetLink ?? b.link ?? b.url ?? b.username),\n  collectType: (b.collectType || '').toString().toLowerCase(),\n  limitMode: (b.limitMode || '').toString().toLowerCase(),\n  limit: Number.parseInt(b.limit ?? b.count ?? 0, 10),\n  includeEmails: toBool(b.includeEmails),\n  outputTarget: (b.outputTarget || 'json').toString().toLowerCase(),\n  googleSheetsWebhookUrl: b.googleSheetsWebhookUrl || '',\n  apifyToken: b.apifyToken || '',\n  followerActorId: 'bIYXeMcKISYGnHhBG',\n  emailActorId: 'mSaHt2tt3Z7Fcwf0o'\n};\n\nconst ask = (field, question, options = []) => [{\n  json: {\n    readyToRun: false,\n    stage: field,\n    question,\n    options,\n    hint: 'Передай ответ в следующем POST-запросе в body.'\n  }\n}];\n\nif (!state.username) {\n  return ask('targetLink', 'Кинь ссылку на X/Twitter аккаунт или @username.', ['https://x.com/username', '@username']);\n}\n\nif (!['followers','following','both'].includes(state.collectType)) {\n  return ask('collectType', 'Кого собираем?', ['followers','following','both']);\n}\n\nif (!['all','number'].includes(state.limitMode)) {\n  return ask('limitMode', 'Сколько собрать: all (максимум) или number (точное число)?', ['all','number']);\n}\n\nif (state.limitMode === 'number') {\n  if (!Number.isFinite(state.limit) || state.limit < 1) {\n    return ask('limit', 'Укажи точное число (например 300).', ['100','300','1000']);\n  }\n}\n\nif (typeof state.includeEmails !== 'boolean') {\n  return ask('includeEmails', 'Искать email по найденным аккаунтам?', ['true','false']);\n}\n\nconst limit = state.limitMode === 'all' ? 5000000 : Math.min(5000000, state.limit);\nconst getFollowers = state.collectType === 'followers' || state.collectType === 'both';\nconst getFollowing = state.collectType === 'following' || state.collectType === 'both';\n\nreturn [{\n  json: {\n    readyToRun: true,\n    targetUsername: state.username,\n    targetLink: state.targetLink,\n    collectType: state.collectType,\n    limitMode: state.limitMode,\n    limit,\n    includeEmails: state.includeEmails,\n    outputTarget: state.outputTarget,\n    googleSheetsWebhookUrl: state.googleSheetsWebhookUrl,\n    apifyToken: state.apifyToken,\n    followerActorId: state.followerActorId,\n    emailActorId: state.emailActorId,\n    followerInput: {\n      userNameList: [state.username],\n      userIdList: [],\n      maxFollowers: getFollowers ? limit : 1,\n      maxFollowing: getFollowing ? limit : 1,\n      getFollowers,\n      getFollowing,\n      outputMode: 'usernames'\n    }\n  }\n}];"},"id":"conversation-agent","name":"Conversation Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,128]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.readyToRun}}","operation":"isTrue"}]},"options":{}},"id":"is-ready","name":"Ready To Run?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-720,128]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"respond-question","name":"Respond Question","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-496,288]},{"parameters":{"operation":"Run actor and get dataset","actorSource":"store","actorId":{"__rl":true,"value":"bIYXeMcKISYGnHhBG","mode":"id"},"customBody":"={{ JSON.stringify($json.followerInput, null, 2) }}"},"id":"run-follower","name":"Run Follower Actor","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-496,48],"credentials":{"apifyApi":{"id":"g5lSW3fwgQoO7Kpv","name":"Apify account"}}},{"parameters":{"jsCode":"const cfg = $('Conversation Agent').first().json;\nconst items = $input.all();\nconst raw = [];\nfor (const it of items) {\n  const d = it.json;\n  if (Array.isArray(d)) raw.push(...d);\n  else if (Array.isArray(d.body)) raw.push(...d.body);\n  else if (Array.isArray(d.data)) raw.push(...d.data);\n  else raw.push(d);\n}\nconst seen = new Set();\nconst records = [];\nfor (const r of raw) {\n  const username = (r.username || r.screenname || r.userName || r.handle || r.value || '').toString().replace('@', '').trim();\n  if (!username) continue;\n  const key = username.toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n  records.push({\n    targetUsername: cfg.targetUsername,\n    username,\n    sourceType: cfg.collectType,\n    collectedAt: new Date().toISOString()\n  });\n}\nreturn [{\n  json: {\n    ...cfg,\n    records: records.slice(0, cfg.limit),\n    recordsCount: records.length\n  }\n}];"},"id":"normalize-followers","name":"Normalize Followers","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,48]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.includeEmails}}","operation":"isTrue"}]},"options":{}},"id":"need-email","name":"Need Email Search?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-64,48]},{"parameters":{"jsCode":"const j = $json;\nconst usernames = (j.records || []).map((r) => r.username).filter(Boolean);\nreturn [{\n  json: {\n    ...j,\n    emailInput: {\n      usernames: usernames.join('\\n'),\n      max_results: j.limit\n    }\n  }\n}];"},"id":"build-email-input","name":"Build Email Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-64]},{"parameters":{"operation":"Run actor and get dataset","actorSource":"store","actorId":{"__rl":true,"value":"mSaHt2tt3Z7Fcwf0o","mode":"id"},"customBody":"={{ JSON.stringify($json.emailInput, null, 2) }}"},"id":"run-email","name":"Run Email Actor","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[384,-64],"credentials":{"apifyApi":{"id":"g5lSW3fwgQoO7Kpv","name":"Apify account"}}},{"parameters":{"jsCode":"const base = $('Normalize Followers').first().json;\nconst emailRowsRaw = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  if (Array.isArray(d)) emailRowsRaw.push(...d);\n  else if (Array.isArray(d.body)) emailRowsRaw.push(...d.body);\n  else if (Array.isArray(d.data)) emailRowsRaw.push(...d.data);\n  else emailRowsRaw.push(d);\n}\nconst byUsername = new Map();\nfor (const row of emailRowsRaw) {\n  const key = (row.screenname || row.username || '').toString().toLowerCase().replace('@', '').trim();\n  if (!key) continue;\n  byUsername.set(key, { email: row.email || '', name: row.name || '' });\n}\nconst rows = (base.records || []).map((r) => {\n  const m = byUsername.get(r.username.toLowerCase()) || { email: '', name: '' };\n  return { ...r, name: m.name, email: m.email };\n});\nreturn [{ json: { ...base, rows, foundEmailCount: rows.filter((r) => !!r.email).length } }];"},"id":"merge-email","name":"Merge Email Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-64]},{"parameters":{"jsCode":"const j = $json;\nconst rows = (j.records || []).map((r) => ({ ...r, name: '', email: '' }));\nreturn [{ json: { ...j, rows, foundEmailCount: 0 } }];"},"id":"skip-email","name":"Skip Email Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,144]},{"parameters":{"jsCode":"const j = $json;\nconst rows = j.rows || [];\nconst headers = ['targetUsername','username','name','email','sourceType','collectedAt'];\nconst q = String.fromCharCode(34);\nconst csvEsc = (v) => {\n  const s = (v ?? '').toString();\n  if (s.includes(',') || s.includes(q) || s.includes('\\n')) return q + s.replaceAll(q, q + q) + q;\n  return s;\n};\nconst lines = [headers.join(',')];\nfor (const r of rows) lines.push(headers.map((h) => csvEsc(r[h])).join(','));\nreturn [{ json: { ok: true, mode: 'run_complete', targetUsername: j.targetUsername, collectType: j.collectType, limitMode: j.limitMode, includeEmails: j.includeEmails, totalCollected: rows.length, emailsFound: j.foundEmailCount || 0, outputTarget: j.outputTarget, googleSheetsPushed: false, csv: lines.join('\\n'), rows } }];"},"id":"final-no-sheets","name":"Build Final Response (No Sheets)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,144]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"respond-final","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,48]},{"parameters":{"content":"## Quick Guide\n\n### Required Setup\n- Create **Apify credentials** in n8n (`Apify account`) and attach to Apify nodes.\n- This workflow uses hardcoded actors:\n  - Followers: `bIYXeMcKISYGnHhBG`\n  - Email: `mSaHt2tt3Z7Fcwf0o`\n\n### Actor Links\n- Followers Actor: https://console.apify.com/actors/bIYXeMcKISYGnHhBG\n- Email Actor: https://console.apify.com/actors/mSaHt2tt3Z7Fcwf0o/source\n\n### Input Flow\n1. Send POST to webhook with `targetLink` (or username).\n2. Agent asks for missing fields: `collectType`, `limitMode`, `limit`, `includeEmails`.\n3. Username is extracted from X/Twitter link automatically.\n\n### Email Step (Optional)\n- `includeEmails=true` -> runs Email Actor\n- `includeEmails=false` -> skips email step\n\n### Output\n- Returns JSON summary + `rows` + `csv`.\n\n### Optional Integrations\n- **Google Sheets**: append `rows` to a sheet for non-technical users.\n- **Telegram**: add a Telegram node after final response to send run summary and file link.\n\nTip: Start with `includeEmails=false` for faster and cheaper runs.","height":732,"width":760,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1808,-832],"id":"d2fde973-a886-4432-854d-8af16cc8b8f0","name":"Workflow Note"},{"parameters":{"content":"## Request Example\n\n### POST Body\n```json\n{\n  \"targetLink\": \"https://x.com/elonmusk\",\n  \"collectType\": \"followers\",\n  \"limitMode\": \"number\",\n  \"limit\": 1000,\n  \"includeEmails\": false,\n  \"outputTarget\": \"json\"\n}\n```\n\n### Field Guide\n- `targetLink`: X/Twitter profile URL or `@username`\n- `collectType`: `followers` | `following` | `both`\n- `limitMode`: `number` (exact amount) or `all` (max actor range)\n- `limit`: required when `limitMode=\"number\"`\n- `includeEmails`: `true` to run email enrichment, `false` to skip\n- `outputTarget`: `json` (recommended default)\n\n### cURL Example\n```bash\ncurl -X POST 'https://YOUR_DOMAIN/webhook/apify-agent-collector' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"targetLink\":\"https://x.com/elonmusk\",\"collectType\":\"followers\",\"limitMode\":\"number\",\"limit\":1000,\"includeEmails\":false,\"outputTarget\":\"json\"}'\n```\n","height":760,"width":780,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,-832],"id":"f58c19bc-3174-4814-84b4-0b23992afa61","name":"Request Example Note"}],"connections":{"Webhook In":{"main":[[{"node":"Conversation Agent","type":"main","index":0}]]},"Conversation Agent":{"main":[[{"node":"Ready To Run?","type":"main","index":0}]]},"Ready To Run?":{"main":[[{"node":"Run Follower Actor","type":"main","index":0}],[{"node":"Respond Question","type":"main","index":0}]]},"Run Follower Actor":{"main":[[{"node":"Normalize Followers","type":"main","index":0}]]},"Normalize Followers":{"main":[[{"node":"Need Email Search?","type":"main","index":0}]]},"Need Email Search?":{"main":[[{"node":"Build Email Input","type":"main","index":0}],[{"node":"Skip Email Merge","type":"main","index":0}]]},"Build Email Input":{"main":[[{"node":"Run Email Actor","type":"main","index":0}]]},"Run Email Actor":{"main":[[{"node":"Merge Email Data","type":"main","index":0}]]},"Merge Email Data":{"main":[[{"node":"Build Final Response (No Sheets)","type":"main","index":0}]]},"Skip Email Merge":{"main":[[{"node":"Build Final Response (No Sheets)","type":"main","index":0}]]},"Build Final Response (No Sheets)":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Admin Admin","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-23T09:37:10.459Z","id":66,"workflowId":"1YshXOGo1cZoCweK","versionId":"19f91ecc-4638-4fd0-9b28-ef4c73c4dfd4","event":"activated","userId":"38ed1950-1679-4f53-9ddb-a20c90973227"}]}}